Repository intelligence-assist/claude-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: npm run lint:check
  language: system

prettier:
  name: prettier
  entry: npm run format:check
  language: system

feat: Improve README with prominent quickstart and Discord presence (#161)
  README.md
Due: prettier

feat: Update organization name from intelligence-assist to claude-did-this
  .github/dependabot.yml
  CLAUDE.md
  QUICKSTART.md
  README.md
  scripts/manage-runner.sh
  scripts/setup/configure-runner-clean.sh
  scripts/setup/docker-runner-setup.sh
  scripts/setup/fix-runner-permissions.sh
  test/e2e/scenarios/api-integration.test.js
  test/e2e/scenarios/claude-integration.test.js
  test/e2e/scenarios/full-workflow.test.js
  test/e2e/scenarios/github-integration.test.js
  test_runner.md
Due: eslint, prettier

feat: Update organization name from intelligence-assist to claude-did-this (#162)
  .github/dependabot.yml
  CLAUDE.md
  QUICKSTART.md
  README.md
  scripts/manage-runner.sh
  scripts/setup/configure-runner-clean.sh
  scripts/setup/docker-runner-setup.sh
  scripts/setup/fix-runner-permissions.sh
  test/e2e/scenarios/api-integration.test.js
  test/e2e/scenarios/claude-integration.test.js
  test/e2e/scenarios/full-workflow.test.js
  test/e2e/scenarios/github-integration.test.js
  test_runner.md
Due: eslint, prettier

update discord widget link
  README.md
Due: prettier

feat: Add CLI for managing autonomous Claude Code container sessions
  cli/README.md
  cli/claude-hub
  cli/package.json
  cli/src/commands/continue.ts
  cli/src/commands/list.ts
  cli/src/commands/logs.ts
  cli/src/commands/start.ts
  cli/src/commands/stop.ts
  cli/src/index.ts
  cli/src/types/session.ts
  cli/src/utils/dockerUtils.ts
  cli/src/utils/sessionManager.ts
  cli/tsconfig.json
Due: eslint, prettier

feat: Complete autonomous CLI feature implementation
  cli/README.md
  cli/package.json
  cli/src/commands/recover.ts
  cli/src/commands/start-batch.ts
  cli/src/commands/start.ts
  cli/src/index.ts
  cli/src/types/session.ts
  cli/src/utils/sessionManager.ts
Due: eslint, prettier

test: Add comprehensive test coverage for CLI
  cli/README.md
  cli/__tests__/__mocks__/dockerUtils.ts
  cli/__tests__/__mocks__/sessionManager.ts
  cli/__tests__/commands/start-batch.test.ts
  cli/__tests__/commands/start.test.ts
  cli/__tests__/fixtures/batch-tasks.yaml
  cli/__tests__/setup.ts
  cli/__tests__/utils/dockerUtils.simple.test.ts
  cli/__tests__/utils/dockerUtils.test.ts
  cli/__tests__/utils/sessionManager.test.ts
  cli/jest.config.js
  cli/package-lock.json
  cli/package.json
  cli/src/commands/start.ts
  cli/src/utils/dockerUtils.ts
  cli/src/utils/sessionManager.ts
Due: eslint, prettier

ci: Add CLI tests workflow and configure stable test suite
  .github/workflows/cli-tests.yml
  cli/package.json
Due: prettier

fix: Improve CLI with TypeScript fixes and CI enhancements
  .github/workflows/cli-tests.yml
  cli/package-lock.json
  cli/package.json
  cli/src/commands/list.ts
  cli/src/commands/stop.ts
  cli/src/utils/dockerUtils.ts
Due: eslint, prettier

fix: Skip Docker-dependent tests in CI
  .github/workflows/cli-tests.yml
  cli/package.json
Due: prettier

fix: Refine test patterns to exclude only full Docker tests
  cli/package.json
Due: prettier

chore: Update dependabot reviewers to MCPClaude
  .github/dependabot.yml
Due: none

fix: Update Jest test patterns to correctly match test files
  cli/package.json
Due: prettier

test: Add tests for CLI list and continue commands
  cli/__tests__/commands/continue.test.ts
  cli/__tests__/commands/list.test.ts
Due: eslint, prettier

test: Add comprehensive tests for CLI logs, recover, and stop commands
  cli/__tests__/commands/logs.test.ts
  cli/__tests__/commands/recover.test.ts
  cli/__tests__/commands/stop.test.ts
Due: eslint, prettier

fix: Optimize PR review prompt for large PRs
  src/controllers/githubController.ts
Due: eslint, prettier

fix: Align PR review prompt header with test expectations
  src/controllers/githubController.ts
Due: eslint, prettier

feat: Add CLI for managing autonomous Claude Code container sessions (#166)
  .github/workflows/cli-tests.yml
  cli/README.md
  cli/__tests__/__mocks__/dockerUtils.ts
  cli/__tests__/__mocks__/sessionManager.ts
  cli/__tests__/commands/continue.test.ts
  cli/__tests__/commands/list.test.ts
  cli/__tests__/commands/logs.test.ts
  cli/__tests__/commands/recover.test.ts
  cli/__tests__/commands/start-batch.test.ts
  cli/__tests__/commands/start.test.ts
  cli/__tests__/commands/stop.test.ts
  cli/__tests__/fixtures/batch-tasks.yaml
  cli/__tests__/setup.ts
  cli/__tests__/utils/dockerUtils.simple.test.ts
  cli/__tests__/utils/dockerUtils.test.ts
  cli/__tests__/utils/sessionManager.test.ts
  cli/claude-hub
  cli/jest.config.js
  cli/package-lock.json
  cli/package.json
  cli/src/commands/continue.ts
  cli/src/commands/list.ts
  cli/src/commands/logs.ts
  cli/src/commands/recover.ts
  cli/src/commands/start-batch.ts
  cli/src/commands/start.ts
  cli/src/commands/stop.ts
  cli/src/index.ts
  cli/src/types/session.ts
  cli/src/utils/dockerUtils.ts
  cli/src/utils/sessionManager.ts
  cli/tsconfig.json
  src/controllers/githubController.ts
Due: eslint, prettier

feat: Implement modular webhook architecture for multi-provider support
  src/core/webhook/WebhookProcessor.ts
  src/core/webhook/WebhookRegistry.ts
  src/core/webhook/index.ts
  src/index.ts
  src/providers/github/GitHubWebhookProvider.ts
  src/providers/github/handlers/IssueHandler.ts
  src/providers/github/index.ts
  src/routes/github.ts
  src/routes/webhooks.ts
  src/types/github.ts
  src/types/webhook.ts
  test/unit/core/webhook/WebhookProcessor.test.ts
  test/unit/core/webhook/WebhookRegistry.test.ts
  test/unit/providers/github/GitHubWebhookProvider.test.ts
Due: eslint, prettier

security: Implement webhook security enhancements
  src/core/webhook/WebhookProcessor.ts
  src/core/webhook/constants.ts
  src/core/webhook/index.ts
  src/providers/github/GitHubWebhookProvider.ts
  src/routes/webhooks.ts
  test/unit/core/webhook/WebhookProcessor.test.ts
  test/unit/core/webhook/constants.test.ts
  test/unit/routes/webhooks.test.ts
Due: eslint, prettier

fix: Fetch complete PR details for manual review commands
  src/controllers/githubController.ts
  src/services/githubService.ts
  test/unit/routes/webhooks.test.ts
Due: eslint, prettier

fix: Fix failing webhook route tests in CI
  test/unit/routes/webhooks.test.ts
Due: eslint, prettier

fix: Move Jest mocks before imports to prevent auto-initialization
  test/unit/routes/webhooks.test.ts
Due: eslint, prettier

fix: Mock webhook registry to prevent auto-initialization in tests
  test/unit/routes/webhooks.test.ts
Due: eslint, prettier

fix: Properly mock WebhookProcessor to avoid module initialization issues
  test/unit/routes/webhooks.test.ts
Due: eslint, prettier

fix: Remove side effects from webhook module initialization
  src/routes/webhooks.ts
  test/unit/routes/webhooks.test.ts
Due: eslint, prettier

fix: Fix webhook tests mock configuration for secureCredentials
  test/unit/routes/webhooks.test.ts
Due: eslint, prettier

feat: Implement modular webhook architecture for multi-provider support (#170)
  src/controllers/githubController.ts
  src/core/webhook/WebhookProcessor.ts
  src/core/webhook/WebhookRegistry.ts
  src/core/webhook/constants.ts
  src/core/webhook/index.ts
  src/index.ts
  src/providers/github/GitHubWebhookProvider.ts
  src/providers/github/handlers/IssueHandler.ts
  src/providers/github/index.ts
  src/routes/github.ts
  src/routes/webhooks.ts
  src/services/githubService.ts
  src/types/github.ts
  src/types/webhook.ts
  test/unit/core/webhook/WebhookProcessor.test.ts
  test/unit/core/webhook/WebhookRegistry.test.ts
  test/unit/core/webhook/constants.test.ts
  test/unit/providers/github/GitHubWebhookProvider.test.ts
  test/unit/routes/webhooks.test.ts
Due: eslint, prettier

feat: Implement Claude orchestration provider for parallel session management
  README.md
  docs/claude-orchestration.md
  package-lock.json
  package.json
  src/core/webhook/constants.ts
  src/providers/claude/ClaudeWebhookProvider.ts
  src/providers/claude/handlers/OrchestrationHandler.ts
  src/providers/claude/index.ts
  src/providers/claude/services/SessionManager.ts
  src/providers/claude/services/TaskDecomposer.ts
  src/routes/webhooks.ts
  src/types/claude-orchestration.ts
  test/integration/claude/claude-webhook.test.ts
  test/unit/core/webhook/constants.test.ts
  test/unit/providers/claude/ClaudeWebhookProvider.test.ts
  test/unit/providers/claude/handlers/OrchestrationHandler.test.ts
  test/unit/providers/claude/services/TaskDecomposer.test.ts
Due: eslint, prettier

feat: Add session management endpoints for MCP integration
  docs/claude-orchestration.md
  src/providers/claude/ClaudeWebhookProvider.ts
  src/providers/claude/handlers/OrchestrationHandler.ts
  src/providers/claude/handlers/SessionHandler.ts
  src/providers/claude/index.ts
  src/providers/claude/services/SessionManager.ts
  src/types/claude-orchestration.ts
  test/integration/claude/claude-session.test.ts
  test/unit/providers/claude/handlers/OrchestrationHandler.test.ts
  test/unit/providers/claude/handlers/SessionHandler.test.ts
Due: eslint, prettier

fix: Update ClaudeWebhookProvider validation for session endpoints
  src/providers/claude/ClaudeWebhookProvider.ts
  test/unit/providers/claude/ClaudeWebhookProvider.test.ts
Due: eslint, prettier

fix: Use Promise.reject for validation errors in parsePayload
  src/providers/claude/ClaudeWebhookProvider.ts
Due: eslint, prettier

fix: Mock SessionManager in integration tests to avoid Docker calls in CI
  test/integration/claude/claude-session.test.ts
  test/integration/claude/claude-webhook.test.ts
Due: eslint, prettier

fix: Mock child_process to prevent Docker calls in CI tests
  test/integration/claude/claude-session.test.ts
  test/integration/claude/claude-webhook.test.ts
Due: eslint, prettier

fix: Address PR review comments and fix linter warnings
  package.json
  src/providers/claude/ClaudeWebhookProvider.ts
  src/providers/claude/handlers/SessionHandler.ts
  src/providers/claude/services/TaskDecomposer.ts
  src/providers/github/GitHubWebhookProvider.ts
  test/unit/providers/claude/services/TaskDecomposer.test.ts
Due: eslint, prettier

fix: Mock SessionManager in integration tests to prevent Docker calls in CI
  test/integration/claude/claude-session.test.ts
  test/integration/claude/claude-webhook.test.ts
Due: eslint, prettier

fix: Run only unit tests in Docker builds to avoid Docker-in-Docker issues
  Dockerfile
Due: none

fix: Use Dockerfile CMD for tests in Docker build CI
  .github/workflows/docker-publish.yml
Due: none

feat: Implement Claude orchestration provider for parallel session management (#171)
  .github/workflows/docker-publish.yml
  Dockerfile
  README.md
  docs/claude-orchestration.md
  package-lock.json
  package.json
  src/core/webhook/constants.ts
  src/providers/claude/ClaudeWebhookProvider.ts
  src/providers/claude/handlers/OrchestrationHandler.ts
  src/providers/claude/handlers/SessionHandler.ts
  src/providers/claude/index.ts
  src/providers/claude/services/SessionManager.ts
  src/providers/claude/services/TaskDecomposer.ts
  src/providers/github/GitHubWebhookProvider.ts
  src/routes/webhooks.ts
  src/types/claude-orchestration.ts
  test/integration/claude/claude-session.test.ts
  test/integration/claude/claude-webhook.test.ts
  test/unit/core/webhook/constants.test.ts
  test/unit/providers/claude/ClaudeWebhookProvider.test.ts
  test/unit/providers/claude/handlers/OrchestrationHandler.test.ts
  test/unit/providers/claude/handlers/SessionHandler.test.ts
  test/unit/providers/claude/services/TaskDecomposer.test.ts
Due: eslint, prettier

feat\!: Remove deprecated /api/claude endpoint in favor of webhook-based sessions
  CLAUDE.md
  README.md
  src/index.ts
  src/routes/claude.ts
  test/README.md
  test/test-claude-api.js
  test/unit/routes/claude-simple.test.ts
  test/unit/routes/claude.test.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(js|ts)$
  prettier: any of: \.(js|ts|json|md)$
