Repository intelligence-assist/claude-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: npm run lint:check
  language: system

prettier:
  name: prettier
  entry: npm run format:check
  language: system

feat\!: Remove deprecated /api/claude endpoint in favor of webhook-based sessions (#172)
  CLAUDE.md
  README.md
  src/index.ts
  src/routes/claude.ts
  test/README.md
  test/test-claude-api.js
  test/unit/routes/claude-simple.test.ts
  test/unit/routes/claude.test.ts
Due: eslint, prettier

fix: Fix Claude integration tests by ensuring provider registration
  test/integration/claude/claude-session.test.ts
  test/integration/claude/claude-webhook.test.ts
Due: eslint, prettier

fix: Add comprehensive test suite to PR checks
  .github/workflows/pull-request.yml
Due: none

test: Remove obsolete Claude integration tests
  test/integration/claude/claude-session.test.ts
  test/integration/claude/claude-webhook.test.ts
Due: eslint, prettier

fix: Add comprehensive test suite to PR checks (#173)
  .github/workflows/pull-request.yml
  test/integration/claude/claude-session.test.ts
  test/integration/claude/claude-webhook.test.ts
Due: eslint, prettier

Update README
  README.md
Due: prettier

feat: Implement combined test coverage for main project and CLI
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  analyze-combined-coverage.js
  analyze-coverage.js
  calculate-codecov-match.js
  cli/package-lock.json
  cli/package.json
  coverage-combined/lcov.info
  jest.config.js
  package.json
  scripts/combine-coverage.js
  test/unit/providers/claude/services/SessionManager.test.ts
  test/unit/providers/github/handlers/IssueHandler.test.ts
Due: eslint, prettier

fix: Fix failing tests for SessionManager and IssueHandler
  test/unit/providers/claude/services/SessionManager.test.ts
  test/unit/providers/github/handlers/IssueHandler.test.ts
Due: eslint, prettier

fix: Fix failing tests for SessionManager and IssueHandler (#174)
  test/unit/providers/claude/services/SessionManager.test.ts
  test/unit/providers/github/handlers/IssueHandler.test.ts
Due: eslint, prettier

docs: Clarify that GitHub PAT should be from bot account
  QUICKSTART.md
  README.md
Due: prettier

docs: Clarify that GitHub PAT should be from bot account (#175)
  QUICKSTART.md
  README.md
Due: prettier

feat: Implement Claude orchestration with session management
  docker-compose.yml
  get-session.json
  scripts/runtime/claudecode-entrypoint.sh
  session-request.json
  src/providers/claude/handlers/SessionHandler.ts
  src/providers/claude/services/SessionManager.ts
  src/types/claude-orchestration.ts
  src/utils/secureCredentials.ts
  start-session-new.json
  start-session.json
Due: eslint, prettier

fix: Update SessionManager tests for new implementation
  test/unit/providers/claude/services/SessionManager.test.ts
Due: eslint, prettier

feat: Implement Claude orchestration with session management (#176)
  docker-compose.yml
  get-session.json
  scripts/runtime/claudecode-entrypoint.sh
  session-request.json
  src/providers/claude/handlers/SessionHandler.ts
  src/providers/claude/services/SessionManager.ts
  src/types/claude-orchestration.ts
  src/utils/secureCredentials.ts
  start-session-new.json
  start-session.json
  test/unit/providers/claude/services/SessionManager.test.ts
Due: eslint, prettier

Update README.md
  README.md
Due: prettier

Update README.md (#179)
  README.md
Due: prettier

add token to codecov yml
  .codecov.yml
Due: none

add token to codecov yml (#180)
  .codecov.yml
Due: none

feat: Add Claude API documentation and improve session validation
  claude-api-swagger.yaml
  docker-compose.hackathon.yml
  docs/claude-webhook-api.md
  src/providers/claude/handlers/SessionHandler.ts
  src/providers/claude/services/SessionManager.ts
Due: eslint, prettier

test: Add comprehensive tests for SessionHandler dependency validation
  test/unit/providers/claude/handlers/SessionHandler.test.ts
Due: eslint, prettier

fix: Address PR #181 review comments
  BREAKING_CHANGES.md
  claude-api-swagger.yaml
  docker-compose.hackathon.yml
  src/providers/claude/handlers/SessionHandler.ts
Due: eslint, prettier

feat: Add Claude API documentation and improve session validation (#181)
  BREAKING_CHANGES.md
  claude-api-swagger.yaml
  docs/claude-webhook-api.md
  src/providers/claude/handlers/SessionHandler.ts
  src/providers/claude/services/SessionManager.ts
  test/unit/providers/claude/handlers/SessionHandler.test.ts
Due: eslint, prettier

Add "Mentioned in Awesome" Badge
  README.md
Due: prettier

Path conditions:
  eslint: any of: \.(js|ts)$
  prettier: any of: \.(js|ts|json|md)$
