Repository intelligence-assist/claude-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package-lock.json

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npm run lint:check
        language: system
        files: \.(js|ts)$
        
      - id: prettier
        name: prettier
        entry: npm run format:check
        language: system
        files: \.(js|ts|json|md)$

fix: restore elegant TruffleHog base/head commit handling
  .github/workflows/main.yml
Due: none

Remove claude-config directory
  claude-config/projects/-workspace/d4460a3e-0af0-4e8c-a3c5-0427c9620fab.jsonl
  claude-config/todos/d4460a3e-0af0-4e8c-a3c5-0427c9620fab.json
Due: prettier

Remove claude-config directory (#147)
  claude-config/projects/-workspace/d4460a3e-0af0-4e8c-a3c5-0427c9620fab.jsonl
  claude-config/todos/d4460a3e-0af0-4e8c-a3c5-0427c9620fab.json
Due: prettier

fix: Re-enable and update skipped check suite tests
  test/unit/controllers/githubController-check-suite.test.js
Due: eslint, prettier

chore: Remove temporary debug webhook script
  test/debug-check-suite-webhook.js
Due: eslint, prettier

fix: Complete production build logic in build.sh
  Dockerfile.claudecode
  scripts/build/build.sh
Due: none

chore: Remove temporary debug webhook script (#149)
  test/debug-check-suite-webhook.js
Due: eslint, prettier

chore: Remove empty directories from completed shell test migration
  test/MIGRATION_NOTICE.md
Due: prettier

chore: Remove empty directories from completed shell test migration (#151)
  test/MIGRATION_NOTICE.md
Due: prettier

fix: Re-enable and update skipped check suite tests (#148)
  test/unit/controllers/githubController-check-suite.test.js
Due: eslint, prettier

fix: Complete production build logic in build.sh (#150)
  Dockerfile.claudecode
  scripts/build/build.sh
Due: none

feat: Add @botaccount review command for manual PR reviews (#131)
  scripts/runtime/claudecode-entrypoint.sh
  src/controllers/githubController.ts
  src/types/claude.ts
Due: eslint, prettier

style: Apply pre-commit formatting changes
  src/controllers/githubController.ts
  test/MIGRATION_NOTICE.md
Due: eslint, prettier

test: Update test expectation for new operationType parameter
  test/unit/controllers/githubController-check-suite.test.js
Due: eslint, prettier

fix: Improve PR detection for manual review command
  src/controllers/githubController.ts
  src/types/github.ts
Due: eslint, prettier

fix: Improve pre-commit hook to fail on issues instead of auto-fixing
  .husky/pre-commit
Due: none

style: Fix whitespace formatting
  src/controllers/githubController.ts
Due: eslint, prettier

feat: Add @botaccount review command for manual PR reviews (#131) (#152)
  .husky/pre-commit
  scripts/runtime/claudecode-entrypoint.sh
  src/controllers/githubController.ts
  src/types/claude.ts
  src/types/github.ts
  test/MIGRATION_NOTICE.md
  test/unit/controllers/githubController-check-suite.test.js
Due: eslint, prettier

feat: Improve Claude authentication setup experience
  CLAUDE.md
  Dockerfile.claude-setup
  scripts/setup/setup-claude-auth.sh
  scripts/setup/setup-claude-interactive.sh
Due: prettier

remove self-hosted runners from ci
  .env.example
  .github/workflows/deploy.yml
  .github/workflows/docker-publish.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  .gitignore
Due: none

feat: Improve Claude authentication setup experience (#153)
  .env.example
  .github/workflows/deploy.yml
  .github/workflows/docker-publish.yml
  .github/workflows/main.yml
  .github/workflows/pull-request.yml
  .gitignore
  CLAUDE.md
  Dockerfile.claude-setup
  scripts/setup/setup-claude-auth.sh
  scripts/setup/setup-claude-interactive.sh
Due: prettier

fix: Improve production deployment configuration
  docker-compose.yml
  scripts/runtime/start-api.sh
  scripts/runtime/startup.sh
  src/index.ts
  tsconfig.json
Due: eslint, prettier

fix: Address PR review feedback
  docker-compose.yml
  scripts/runtime/start-api.sh
  src/index.ts
Due: eslint, prettier

fix: Improve production deployment configuration (#155)
  docker-compose.yml
  scripts/runtime/start-api.sh
  scripts/runtime/startup.sh
  src/index.ts
  tsconfig.json
Due: eslint, prettier

Remove unused k8s directory
  k8s/secrets.yaml
Due: none

Remove unused k8s directory (#156)
  k8s/secrets.yaml
Due: none

feat: Add simplified quickstart guide and minimal env configuration
  .env.quickstart
  .gitignore
  QUICKSTART.md
Due: prettier

fix: Exclude .env.quickstart from credential audit false positives
  scripts/security/credential-audit.sh
Due: none

fix: Update Discord server ID from placeholder to actual ID
  QUICKSTART.md
Due: prettier

fix: Standardize Docker image naming and improve environment variable handling
  .env.example
  docs/environment-variables.md
  scripts/build/build.sh
  src/index.ts
  src/services/claudeService.ts
  src/types/claude.ts
Due: eslint, prettier

fix: Update Discord server ID and add missing EOF newline
  .env.quickstart
  QUICKSTART.md
Due: prettier

feat: Add simplified quickstart guide for easier onboarding (#157)
  .env.quickstart
  .gitignore
  QUICKSTART.md
  scripts/security/credential-audit.sh
Due: prettier

fix: Add BOT_EMAIL to docker-compose.yml
  docker-compose.yml
Due: none

fix: Use BOT_USERNAME environment variable in prompt creation
  src/services/claudeService.ts
Due: eslint, prettier

feat: Add verbose and stream-json output to Claude CLI for better debugging
  scripts/runtime/claudecode-entrypoint.sh
Due: none

fix: Use colon syntax for allowedTools in PR review to match auto-tagging
  scripts/runtime/claudecode-entrypoint.sh
Due: none

feat: Add Claude Code timeout configuration for unattended mode
  .env.example
  docker-compose.yml
  docs/environment-variables.md
  scripts/runtime/claudecode-entrypoint.sh
Due: prettier

fix: Standardize Docker image naming and improve environment variable handling (#159)
  .env.example
  docker-compose.yml
  docs/environment-variables.md
  scripts/build/build.sh
  scripts/runtime/claudecode-entrypoint.sh
  src/index.ts
  src/services/claudeService.ts
  src/types/claude.ts
Due: eslint, prettier

feat: Improve README with prominent quickstart and Discord presence
  README.md
Due: prettier

fix: Simplify Quick Start to use .env file approach
  README.md
Due: prettier
